.home-mission {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, minmax(100px, 1fr));
}

.home-mission-title {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    position: relative;
    justify-content: center;
    flex-flow: column;
    margin-top: 30px;
}


.home-mission-title>span {
    margin: auto;
    font-size: 3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#home-mission-Mission {
    font-weight: 700;
}

#home-mission-ourMission-hr {
    height: 2px;
    width: 230px;
    color: #000000;
    background-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.home-mission-connectedTextBubbles {
    grid-column: 1/-1;
    grid-row: 4/10;
    display: flex;
    justify-content: space-evenly;

}

.home-mission-square-wrapper-left{
    position: relative;
    width: 33%;
    margin-bottom: 10px;
}

.home-mission-square-wrapper-center{
    position: relative;
    width: 33%;
    margin-bottom: 10px;
}

.home-mission-square-wrapper-right{
    position: relative;
    width: 33%;
    margin-bottom: 10px;
}

.home-mission-square {
    padding-bottom: 100%;
    display: flex;
    position: relative;
}

.home-mission-square-blackFill{
    position:absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background-color: #F6FFFD;
    border:#000000 solid 25px;
    box-shadow: 0px 6px 8px 2px gray, inset 0px 6px 8px 2px gray;;
    border-radius: 80px;
}

.home-mission-square-blackFill>p {
    font-family: Inter;
    display: inline-block;
    position:absolute;
    font-size: clamp(1.35rem, 2.5vh, 2.5rem);
    background-color: transparent;
    margin: 15px;
    justify-content: center;
    
    /* margin-top: max(5px,5%); */
    /* width: 650px;
    height: 370px;
    margin-left: 55px;
    margin-top: 45px; */

}

.ourMission-Spacer{
    grid-row: 10/11;
}
.home-mission-bottom-hrdiv {
    grid-row: 12/13;
    grid-column: 1/-1;;
    display: flex;
    position: relative;
    align-items: center;
    
    
}

.home-mission-bottom-hr {
    
    height: 1px;
    width: 1440px;
    color: #000000;
    background-color: #000000;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
