.header {
    min-height: 10vh;
    min-width: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    background-color: #F6FFFD;
}

.header__logo-name {
    display: flex;
    align-items: center;
}

.theFaucet {
    font-size: 3em;
}

.header__navbar {
    display: flex;
    margin-left: auto;
    align-items: center;
}