.header {
    min-height: 10vv;
    min-width: 100vw;
    color: #000000;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header__logo-name {
    display: flex;
    align-items: center;
}

.theFaucet {
    font-size: 3em;
}
.header__navbar {
    margin-left: auto;
    align-items: baseline;
}