.home {
    display: flex;
    flex-flow: column;
}

.home-intro {
    display: flex;
    min-height: 885px;
    align-items: center;

}

.home-social-icons {
    display: flex;
    flex-flow: column;
    height: 200px;
    justify-content: space-between;
    margin-left: 30px;
}

.learners-builders {
    font-size: 3rem;
    margin-left: 155px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join-newsletter {
    position: relative;
    margin-left: auto;
    margin-right: 150px;
    color: #ffffff;
}

.join-newsletter * {
    font-size: 2rem;
    background-color: transparent;
}

.newsletter_blob_join_thefaucet {
    position: absolute;
    font-size: 3rem;
    top: 130px;
    left: 200px;
}

#newsletter_blob_theFaucetText {
    font-weight: 700;
}

.newsletter_blob_info-line1 {
    position: absolute;
}

.newsletter_blob_info-line2 {
    position: absolute;
}

.newsletter_blob_info-line3 {
    position: absolute;
}

.learners-builders-banner {
    display: flex;
    height: 190px;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
}

.learners-builders-banner * {
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    background-color: #000000;
}

.home-banner-x {
    font-size: 6em;
}

.home-banner-learners-list.home-banner-builders-list {
    display: flex;
    flex-flow: column;
}